@model IEnumerable<AlpataEntities.Dtos.MeetingDtos.MeetingDto>

@{ 
    var uId = Guid.Parse(User.Claims.FirstOrDefault(z => z.Type == "Id")?.Value);
}
@if (Model is null || Model.Count() == 0)
{
    <span class="mb-5">Herhangi bir sonuç bulunamadı.</span>
}
else
{
    @foreach (var item in Model)
    {
        <tr style="background-color:@(item.CreatorUserId == uId ? "#f1f8ff" : "")">
            <td>@item.Name</td>
            <td>
                <img src="~/Dassets/images/users/@item.CreatorUser.ImagePath" alt="" class="thumb-sm rounded mr-2">
                @item.CreatorUser.Name @item.CreatorUser.Surname
            </td>
            <td>@item.StartTime</td>
            <td>@item.EndTime</td>
            <td>@item.Participants.Count</td>
            @if (item.isActive)
            {
                <td><span class="badge badge-md badge-boxed badge-soft-success">Aktif</span></td>
            }
            else
            {
                <td><span class="badge badge-md badge-boxed badge-soft-danger">Pasif</span></td>
            }

            <td class="text-center">
                <div class="dropdown d-inline-block">
                    <a class="dropdown-toggle arrow-none" id="dLabel11" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <i class="las @((item.Participants.Exists(z => z.AppUserId == uId) || item.CreatorUserId == uId) ? "la-ellipsis-h" : "la-ellipsis-v") font-20 text-muted"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel11">
                        @if (item.isActive)
                        {

                            if (item.Participants.Exists(z => z.AppUserId == uId))
                            {
                                <a class="dropdown-item" asp-controller="Dashboard" asp-action="DeleteUserFromMeeting" asp-route-meetId="@item.Id">Toplantıdan Ayrıl</a>
                                <a class="dropdown-item" asp-controller="Dashboard" asp-action="MeetingDetail" asp-route-meetId="@item.Id">Toplantı Detayı</a>
                                <a class="dropdown-item" href="javascript: void(0);" data-toggle="modal" data-target="#addFile" onclick="AddInventoryFile('@item.Id')">Envanter Ekle</a>
                                if (item.CreatorUserId == uId)
                                {
                                    <a class="dropdown-item" asp-controller="Dashboard" asp-action="EditMeeting" asp-route-meetId="@item.Id">Toplantıyı Düzenle</a>
                                }
                            }
                            else
                            {
                                <a class="dropdown-item" asp-controller="Dashboard" asp-action="AddUserToMeeting" asp-route-meetId="@item.Id">Toplantıya Katıl</a>
                                if (item.CreatorUserId == uId)
                                {
                                    <a class="dropdown-item" href="javascript: void(0);" data-toggle="modal" data-target="#addFile" onclick="AddInventoryFile('@item.Id')">Envanter Ekle</a>
                                    <a class="dropdown-item" asp-controller="Dashboard" asp-action="EditMeeting" asp-route-meetId="@item.Id">Toplantıyı Düzenle</a>
                                }
                            }

                        }
                        else
                        {
                            <a class="dropdown-item text-muted">İşlem yapılamaz</a>
                        }
                    </div>
                </div>
            </td>
        </tr>
    }
}