@model AlpataEntities.Dtos.MeetingDtos.MeetingDto
@{
    ViewData["Title"] = "EditMeeting";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 1;
    var meetId = @Model.Id.ToString();
}

<div class="row mt-4">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">@Model.Name Toplantı Bilgileri</h4>
                <p class="text-muted mb-0">
                    Toplantı için yüklenmiş envanterleri buradan indirebilir veya <code>silebilirsiniz.</code>
                </p>
            </div><!--end card-header-->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Dosya Adı</th>
                                @* <th>Oluşturulma Tarihi</th>*@
                                <th class="text-right">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Inventories)
                            {
                                <tr>
                                    <td>@counter</td>
                                    <td>@item.FileName</td>
                                    <td class="text-right">
                                        <a asp-action="DownloadFile" asp-controller="DashBoard" asp-route-InvId="@item.Id"><i class="las la-download text-info font-18"></i></a>
                                        <a class="mr-2" data-toggle="modal" href="javascript= void(0);" data-target="#exampleModalSmall" onclick="DeleteFile('@item.Id')"><i class="las la-trash-alt text-danger font-18"></i></a>
                                    </td>
                                </tr>
                                counter++;
                            }

                        </tbody>
                    </table><!--end /table-->
                </div><!--end /tableresponsive-->
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!-- end col -->
</div>
<div class="row mt-2">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Toplantı Bilgileri</h4>
                        <p class="text-muted mb-0">Toplantı bilgilerini buradan düzenleyebilirsiniz.</p>
                    </div><!--end col-->
                </div>  <!--end row-->
            </div><!--end card-header-->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form asp-action="EditMeeting" asp-controller="Dashboard">
                            <input type="hidden" name="Id" value="@meetId" />
                            <div class="form-group">
                                <label for="projectName">Toplantı Adı</label>
                                <input type="text" class="form-control" asp-for="Name" placeholder="Toplantı adını giriniz.">
                                <span asp-validation-for="Name"></span>
                            </div><!--end form-group-->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6 col-3 mb-2 mb-lg-0">
                                        <label for="pro-start-date">Toplantı Başlangıç Tarihi</label>
                                        <input type="datetime-local" id="StartTime" asp-for="StartTime" class="form-control" placeholder="Tarih giriniz">
                                        <span asp-validation-for="StartTime"></span>
                                    </div><!--end col-->
                                    <div class="col-lg-6 col-3 mb-2 mb-lg-0">
                                        <label for="pro-end-date">Toplantı Bitiş Tarihi</label>
                                        <input type="datetime-local" id="EndTime" asp-for="EndTime" class="form-control" placeholder="Tarih giriniz">
                                        <span asp-validation-for="EndTime"></span>
                                    </div><!--end col-->

                                </div><!--end row-->
                            </div><!--end form-group-->

                            <div class="form-group">
                                <label for="pro-message">Toplantı Açıklaması</label>
                                <textarea class="form-control" rows="5" asp-for="Description" placeholder="Açıklama giriniz"></textarea>
                                <span asp-validation-for="Description"></span>
                            </div><!--end form-group-->

                            <button type="submit" class="btn btn-primary btn-sm" style="float:right !important">Toplantıyı Düzenle</button>
                        </form>  <!--end form-->
                    </div><!--end col-->

                </div><!--end row-->
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->
<div class="modal fade bd-example-modal-sm" id="exampleModalSmall" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0" id="mySmallModalLabel">Dosya Silinecek !</h6>
                <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="la la-times"></i></span>
                </button>
            </div><!--end modal-header-->
            <div class="modal-body text-center">
                <h4 class="mb-1">UYARI !</h4>
                <p class="mb-0 text-muted">Seçmiş olduğunuz dosya silinecek. Eminmisiniz ?</p>
            </div><!--end modal-body-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal">Vazgeç</button>
                <form asp-action="DeleteInventory" asp-controller="Dashboard" method="post">
                    <input type="hidden" id="fileId" name="Id" />
                    <input type="hidden" name="meetId" value="@meetId" />
                    <button type="submit" class="btn btn-danger btn-xs">Dosyayı Sil</button>
                </form>
            </div><!--end modal-footer-->
        </div><!--end modal-content-->
    </div><!--end modal-dialog-->
</div><!--end modal-->
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            var formattedDateTime = new Date(Date.now() - new Date().getTimezoneOffset() * 60000).toISOString().slice(0, 16);
            $('#StartTime').attr('min', formattedDateTime);
            $('#EndTime').attr('min', formattedDateTime); 
        });
    </script>
}