@model IEnumerable<AlpataEntities.Dtos.MeetingDtos.MeetingDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Toplantılar</h4>
                    </div><!--end col-->
                    <div class="col-auto">
                        <a asp-action="CreateMeeting" asp-controller="Dashboard" class="btn btn-sm btn-primary">Toplantı Oluştur</a>
                    </div><!--end col-->
                </div>  <!--end row-->
            </div><!--end card-header-->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th>Toplandı Adı</th>
                                <th>Düzenleyen</th>
                                <th>Başlangıç Tarihi</th>
                                <th>Bitiş Tarihi</th>
                                <th>Katılımcı Sayısı</th>
                                <th>Durumu</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model is null || Model.Count()==0)
                            {
                                <span class="mb-5">Henüz düzenlenmiş bir toplantı yok.</span>
                            }
                            else
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>
                                            <img src="~/Dassets/images/users/@item.CreatorUser.ImagePath" alt="" class="thumb-sm rounded mr-2">
                                            @item.CreatorUser.Name @item.CreatorUser.Surname
                                        </td>
                                        <td>@item.StartTime</td>
                                        <td>@item.EndTime</td>
                                        @if (item.isActive)
                                        {

                                            <td><span class="badge badge-md badge-boxed  badge-soft-success">Aktif</span></td>
                                        }
                                        else
                                        {
                                            <td><span class="badge badge-md badge-boxed  badge-soft-danger">Pasif</span></td>
                                        } 
                                        <td>@item.Participants.Count</td>
                                        <td class="text-center">
                                            <div class="dropdown d-inline-block">
                                                <a class="dropdown-toggle arrow-none" id="dLabel11" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                    <i class="las la-ellipsis-v font-20 text-muted"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel11">
                                                    @{
                                                        var u = Model.FirstOrDefault(z => z.Participants.Exists(z => z.AppUserId == Guid.Parse(User.Claims.FirstOrDefault(z => z.Type == "Id").Value)));
                                                    }
                                                    @if (item.isActive && u is not null)
                                                    {
                                                        <a class="dropdown-item" href="javascript: void(0);" data-toggle="modal" data-target="#addFile" onclick="addInventoryFile('@item.Id')">Envanter Ekle</a>
                                                        <a class="dropdown-item" asp-controller="Home" asp-action="InventoryDetail" asp-route-InventoryId="@item.Id">Toplantıdan Ayrıl</a>
                                                    }
                                                    else if (item.isActive)
                                                    {
                                                        <a class="dropdown-item" asp-controller="Dashboard" asp-action="AddUserToMeeting" asp-route-meetId="@item.Id">Toplantıya Katıl</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="dropdown-item text-muted">İşlem yapılamaz</a>
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                </div><!--end table-responsive-->
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->
<div class="modal fade" id="addFile" tabindex="-1" role="dialog" aria-labelledby="ModalDefaultLogin" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0" id="ModalDefaultLogin">Dosya Ekle</h6>
                <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="la la-times"></i></span>
                </button>
            </div><!--end modal-header-->
            <div class="modal-body">
                <div class="card-title">
                    <p>50 MB a kadar dosya yükleyebilirsiniz.</p>
                </div>
                <div class="card-body">

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane p-3 pt-3 active" id="LogIn_Tab" role="tabpanel">
                            <form class="form-horizontal auth-form my-4" asp-action="AddFileToInventory" asp-controller="Home" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="InventoryId" id="InventoryId" />
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <input type="file" id="input-file-now" name="file" class="dropify" />
                                            </div><!--end card-body-->
                                        </div><!--end card-->
                                    </div><!--end col-->
                                </div>
                                <div class="form-group mb-0 row">
                                    <div class="col-12 mt-2">
                                        <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">Dosya Ekle <i class="fas fa-plus"></i></button>
                                    </div><!--end col-->
                                </div> <!--end form-group-->
                            </form><!--end form-->
                        </div>
                    </div>
                </div><!--end card-body-->

            </div><!--end modal-body-->

        </div><!--end modal-content-->
    </div><!--end modal-dialog-->
</div>